/* ===== Styling of index page and main elements ===== */
body {
    background-image: url(../images/cv_background.jpg);
    background-size: cover;
}

.navigation {
    table-layout: fixed;
    width: 600px;
    border-spacing: 0;;
    border-width: 3px;
    border-color: white;
    border-style: solid;
    border-radius: 20px;
    background-color: rgba(0, 166, 255, 0.977);
    margin-left: auto;
    margin-right: auto;
}

.nav_td {
    width: 200px;
    border-width: 3px;
    border-radius: 20px;
    border-color: white;
    border-style: solid;
    text-align: center;
    font-size: x-large;
}

.nav_td a {    /* making the whole cell a hyperlink */
    width: auto;
    height:auto;
    display: block;
    border-radius: 20px;
}

h1 {
    color: white;
    font-size: larger;
    padding: 0;
    margin: 0;
}

h2 {
    font-style: normal;
    font-weight: bold;
    text-align: center;
    border-width: 5px;
    border-color: white;
    border-style: ridge;
    border-radius: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 166, 255, 0.977);
}

.container {
    text-align: center;
    width: 100%;
    margin-left: 100px;
    margin-right: auto;
}

.boxes {
    text-align: left;
    width: 20%;
    height: 300px;
    border-width: 5px;
    border-color: white;
    border-style: ridge;
    border-radius: 20px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 15px;
    float: left;
    padding: 10px;
    background-image: url(../images/forest.jpg);
    background-size: cover;
    font-size: large;
}

.box_name {
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    border-width: 5px;
    border-color: black;
    border-style: ridge;
    border-radius: 20px;
    background-color: rgb(156, 153, 153);
}

#profile_picture {
    border-width: 5px;
    border-color: white;
    border-style: ridge;
    border-radius: 20px;
    width: 300px;
    float: left;
    margin-right: 15px;
}

.nav_link {
    color: black;
    text-decoration: none;
}

.nav_link:hover {
    color: red;
    background-color: white;
}

/* ===== Styling of hometown page ===== */

#townhall {
    float: left;
    max-width: 25%;
    max-height: 25%;
    border-width: 5px;
    border-color: white;
    border-style: ridge;
    border-radius: 20px;
    margin-right: 15px;
    margin-bottom: 15px;
}

#campus {
    float: right;
    max-width: 25%;
    max-height: 25%;
    border-width: 5px;
    border-color: white;
    border-style: ridge;
    border-radius: 20px;
    margin-left: 15px;
    margin-bottom: 15px;
}

p {
    color: white;
    font-size: x-large;
}

#more {
    color: rgb(0, 255, 238);
    text-decoration: none;
    border-radius: 20px;
}

#more:hover {
    color: red;
}

/* ===== Styling of VIA page ===== */

h3 {
    color: white;
    font-size: x-large;
    border-width: 5px;
    color: white;
    border-style: ridge; 
    border-radius: 20px;
    display: inline;  /* make the border wrap around only the text */
    padding: 5px;
}

li {
    color: white;
    margin-left: 20px;
    font-size: x-large;
}

.via_img {
    max-width: 98%;
    border-width: 5px;
    color: white;
    border-style: ridge;
    border-radius: 20px;
}

#via_1 {
    float: left;
    height: 300px;
    max-width: 30%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.via_paragraphs {
    margin: auto;
}

#via_2 {
    float: right;
    height: 300px;
    overflow: scroll;
    max-width: 30%;
}

#via_3 {
    float: left;
    height: 300px;
    overflow: scroll;
    max-width: 30%;
    margin-right: 30px;
}

/* ===== Styling of contact page ===== */

#contact {
    color: white;
    font-size: x-large;
    text-align: center;
}

.contact_links {
    color: rgb(0, 255, 238);
    text-decoration: none;
}

.contact_links:hover {
    color: red;
}